body
{
	background-color: #6AB7A5;
    font-family: "Arial";
    text-align:center;
    color: #2A2B2B;
}
/*
button {
    background-color: #C2C4C3;
    border: none;
    color: #2A2B2B;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: "Arial";
}
button:hover {
    background-color: #9B9D9C;
}
button:active {
    background-color: #9B9D9C;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.3);
    transform: translateY(4px);
}*/
iframe {
    border-radius: 24px;
    font-family: "Arial";
    border: none;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.3);
}